@import "../../../../scss/vars";

.button {
  background-color: $white;
  border: 1px solid $black;
  transition: all .15s linear;

  .title {
    transition: all .15s linear;
  }

  &:hover {
    background-color: $black;
    color: $white;

    & .title {
      color: $white;
    }
  }
}

.active {
  background-color: $orange;
}