@import "../../../../../../../../../../../core/scss/vars";

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  border: 10px $black dashed;
  padding: 50px 30px;

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .result {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    &Item {
      padding: 20px;
      border-radius: 15px;
      background-color: $gray-2;
      text-align: center;
      display: flex;
      justify-content: center;
      color: $white;


      &:nth-child(n+2) {
        margin-top: 20px;
      }
    }
  }
}