.block {
  //width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  //width: 100%;
  display: flex;
  margin: 150px 50px 50px;

  .segments {
    margin-left: 10px;
  }

  .result {
    margin-left: 20px;
  }
}

.bottom {
  display: flex;
  margin-top: auto;
}