@import "../../core/scss/mixins/media";

.block {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  margin: 160px 50px 50px;

  .segments {
    margin-left: 30px;
  }

  .result {
    margin-left: 20px;
  }
}

.bottom {
  display: flex;
  margin-top: auto;
}

@include elg-desktop {
  .content {
    align-items: center;
    flex-direction: column;

    .products {
      max-width: 100% !important;
    }

    .segments {
      margin-left: 0;
      margin-top: 20px;
    }

    .result {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}