.block {
  //width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  //width: 100%;
  display: flex;
  justify-content: center;
  //align-items: center;
  margin: 160px 50px 50px;

  .segments {
    margin-left: 30px;
  }

  .result {
    margin-left: 20px;
    //height: 100%;
  }
}

.bottom {
  display: flex;
  margin-top: auto;
}