// Font style
$f-extra-bold: 'ExtraBold', sans-serif;
$f-regular: 'Regular', sans-serif;

// Font size
$fs-64: 64px;
$fs-32: 32px;
$fs-24: 24px;

// Color
$orange: #FF8C00;

$black: #000000;
$white: #FFFFFF;
$empty: #00000000;