// Font style
$f-extra-bold: 'ExtraBold', sans-serif;
$f-regular: 'Regular', sans-serif;

// Font size
$fs-56: 56px;
$fs-48: 48px;
$fs-36: 36px;
$fs-32: 32px;
$fs-24: 24px;
$fs-16: 16px;

// Color
$orange: #FF8C00;
$green: #2ECC71;
$red: #E30611;
$gray-1: #E6E6E6;
$gray-2: #999999;

$black: #000000;
$white: #FFFFFF;
$empty: #00000000;